* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #F2F5F8;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    overflow-x: clip;
    /* Fix AOS hiding elements during horizontal animations */
}